<!doctype html>
<html>
  <head>
    <title>BackBay</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text.css'>
    <link href='stylesheets/base.css' rel='stylesheet' type='text/css'>
    <script src='https://unpkg.com/react@15/dist/react.js'></script>
    <script src='https://unpkg.com/react-dom@15/dist/react-dom.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js'></script>
  </head>
  <body>
    <div class='head'>
      <h1 class='head__title'><a href='login'>BackBay</a></h1>
    </div>
    <div class='body'>
      <div class='section section--account'>
        <h2 class='account__title'>Account Info</h2>
        <p><strong>Account ID: </strong><span id='accountSpan'></span></p>
        <p><strong>Token: </strong><span id='tokenSpan'></span></p>
      </div>
      <div class='section section--stores'>
        <h2 class='stores__title'>Stores</h2>
        <ul id='storeList'>
          <li class='storeList__item'>
            <div class='storeList__id'><strong>ID</strong></div><div class='storeList__label'><strong>Label</strong></div>
          </li>
        </ul>
        <input id='labelInput' class='input' type='text' placeholder='Label'><a class='button' onclick='clickAddStore()'>Add Store</a>
      </div>
    </div>
    <script src='scripts/app.js'></script>
  </body>
</html>
