<!doctype html>
<html>
  <head>
    <title>BackBay</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text.css'>
    <link href='stylesheets/base.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='head'>
      <h1 class='head__title'><a href='index.html'>BackBay</a></h1>
    </div>
    <div class='body'>
      <div class='section--top'>
        <h2 class='section--top__tag'>A storage endpoint for Web developers</h2>
      </div>
      <div class='section'>
        <a class='button center' href='login.html'>Login</a>
        <a class='button center'>Register</a>
      </div>
    </div>
  </body>
</html>
