<!doctype html>
<html>
  <head>
    <title>Register | BackBay</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text.css'>
    <link href='stylesheets/base.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='head'>
      <h1><a href='login'>BackBay</a></h1>
    </div>
    <div class='body'>
      <div class='section section--register'>
        <h2 class='section--register__title'>Register</h2>
        <input class='input' type='email' placeholder='Email Address'>
        <input class='input' type='password' placeholder='Password'>
        <a class='button center'>Register</a>
      </div>
    </div>
  </body>
</html>
