.section--top {
  background: #f44336;
  padding: 200px 0;
}

.section--top__tag {
  color: white;
  font-size: 46px;
  text-align: center;
}

.button {
  background: #f44336;
  color: white;
  display: inline-block;
  padding: 15px 35px;
}

.button:hover {
  background: #DA3C30;
  cursor: pointer;
}
